@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
#wrap{
	width:1200px;
	margin:0 auto;
	position:relative;
}
#header{
	width:178px;
	background:#ffffff;
	padding:0 32px 0 33px;
	float:left;
}
h1.logo{margin-top:33px;}
#main{
	margin: 0 220px 0 243px;\
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	min-height:1127px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#contents{
	width:220px;
	position:absolute;
	top:0;
	right:0;
}
#contents li img{
	width:220px;
	height:375px;
	padding-bottom:1px;
}
#foot{
	clear:both;
	height:120px;
	border-top:1px solid #dddddd;
}
#foot_logo{float:left; width:243px;}
#foot_logo img{margin:25px 0 0 60px;}
#foot_area{float:left; border-left:1px solid #e9e9e9; height:120px;}
.foot_menu{margin:15px 0 0 30px;}
.foot_menu a{font-size:0.625em; color:#999999; margin-right:12px;}
.foot_copy{font-size:0.625em; color:#999999; margin:10px 0 0 30px; line-height:14px;}
.foot_menu a strong{color:#222222;}
#foot .right_area{float:right; width:220px; height:120px; border-left:1px solid #e9e9e9;}
#nav{margin-top:29px;}
#nav li{background:#ffffff;}
#nav li a{display:block; width:100%; height:44px; line-height:44px; transition:all 0.4s ease-in 0.3s; 
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
#nav li a:hover{color:#ffffff; text-align:center; padding-left:0;}
#nav li.on_color1 a:hover{background:#005199;}
#tellnum{
	padding:19px 0 18px 0;
	border-bottom:1px solid #cdcdcd;
}
#flow{
	margin-top:25px;
	width:178px;
}
#flow h3{height:23px; font-size:0.75em; font-weight:bold; float:left;}
#flow span{float:right; margin-top:5px;}
#flow .flow_list{clear:both;}
#flow .flow_list li{float:left; margin:0 6px 6px 0;}
#flow .flow_list li.no_margin{margin-right:0;}
#news{
	margin-top:19px;
	float:left;
	width:178px;
}
#news h3{font-size:0.75em; font-weight:bold; float:left;}
#news span{float:right; margin-top:5px;}
#news ul{float:left; margin-top:8px;}
#news ul li{font-size:0.75em; line-height:18px; height:18px; padding-left:8px; overflow:hidden; width:100%;
	display:-webkit-box;
	display:-moz-box;
	display:box;
	-webkit-line-clamp:1;
	-moz-line-clamp:1;
	line-clamp:1;
	text-overflow:ellipsis;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	box-orient:vertical;
	word-wrap:break-word;
}
#news ul li a{color:#888888;}
#blog{
	width:178px;
	margin-top:21px;
	float:left;
}
#blog h3{float:left; font-size:0.75em; font-weight:bold;}
#blog span{float:right; margin-top:5px;}
#blog dl{float:left; font-size:0.75em; margin-top:11px; color:#888888; letter-spacing:-1px; width:100%;}
#blog dl strong{display:block; padding:8px 0 7px 0;}
#blog dt.last{margin-top:22px;}
#img_bn_area{
	width:100%;
	background:#323532;
	text-align:center;
}
#img_bn_area img{width:100%;}
#search_area{
	background:#323532;
	padding:15px;
	border-top:1px solid #dddddd;
}
#search_area .search_box{background:#ffffff; position:relative; padding:11px; height:27px;}
#search_area .search_box .tit_search{position:absolute; top:18px; left:15px; font-size:0.875em;}
#search_area .search_box .input_box{margin-left:110px; background:#000000; height:27px;}
#search_area .search_box .input_box input{float:left; width:75%; color:#ffffff; height:27px; border:none; padding-left:10px; line-height:27px; background:transparent;}
#search_area .search_box .input_box img{float:right; }
#product{
	padding:30px 30px 20px 20px;
	border-bottom:1px solid #e9e9e9;
	overflow:auto;
}
#product h2{
	margin-bottom:10px;
	font-size:112.5%;
	letter-spacing:-1px;
	font-weight:bold;
	position:relative;
}
#product .btn_detail{
	position:absolute;
	right:0;
	top:0;
}
#product .now{
	font-size:0.75em;
	color:#666666;
	margin-right:90px;
	letter-spacing:-1px;
	line-height:16px;
}
#product ul{margin-top:20px;}
#product ul li{float:left; width:63px; text-align:center; padding:5px;}
#product ul li span{font-size:0.625em; color:#666666; padding-top:5px; display:block;}
#stock{
	width:50%;
	float:left;
	padding:30px 15px 35px 30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#stock h2{font-size:112.5%; letter-spacing:-1px; font-weight:bold; position:relative;}
#stock .btn_more{position:absolute; top:0; right:0;}
#stock .now{font-size:0.75em; margin:10px 0; float:right;}
#stock .now strong{color:#ff0000;}
#stock ul li{font-size:0.6875em; line-height:18px; padding-left:10px; color:#666666; padding-bottom:5px; overflow:hidden; width:100%; white-space:nowrap; text-overflow:ellipsis;}
.stock_table{border-top:1px solid #000000; border-bottom:1px solid #000000; font-size:0.6875em; text-align:center; margin:15px 0 10px 0; color:#abaaa9; width:100%;}
.stock_table td{height:29px; border-right:1px solid #000000; line-height:29px; color:#666666;}
.stock_table th{border-bottom:1px solid #000000; background:#242424; height:24px; border-right:1px solid #000000; line-height:24px; letter-spacing:-1px;}
.stock_table .no_border{border-right:none;}
#youtube{
	width:50%;
	float:left;
	padding:30px 30px 35px 15px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#youtube h2{font-size:112.5%; letter-spacing:-1px; font-weight:bold; position:relative;}
#youtube .btn_more{position:absolute; top:0; right:0;}
#youtube .now{font-size:0.75em; color:#666666; margin:8px 0 10px 0; clear:both; overflow:hidden; width:100%; white-space:nowrap; text-overflow:ellipsis;}
#youtube ul{margin-top:10px;}
#youtube ul li{font-size:0.6875em; line-height:18px; padding-left:10px; color:#666666; overflow:hidden; width:100%; white-space:nowrap; text-overflow:ellipsis;}
#youtube ul li span{color:#ff0000;}
@media screen and (max-width:1280px) {
    #wrap{width:95%; margin:0 auto;}
}
@media screen and (max-width:1024px) {
    #wrap{width:100%;}
	#main{margin:0 0 0 243px; min-height:0; border:none; background:none;}
	#product{background:#a2d6f5; border-top:1px solid #dddddd;}
	#product h2{color:#ffffff;}
	#product .now{color:#999999;}
	#product li span{color:#999999;}
	#youtube{padding-bottom:0;}
	#contents{margin:0 0 0 243px; width:auto; position: relative; clear:left; overflow:auto; padding-bottom:10px; background:#ffffff;}
	#contents li{border:none; float:left; width:33.33%; height:190px; overflow:hidden; padding:10px 0 10px 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	}
	#contents li:last-child{padding-right:10px; width:33.34%;}
	#contents li img{width:100%; height:auto;}
	footer{margin:0;}
	#foot .right_area{display:none;}
}
@media screen and (max-width:768px) {
    #product ul li{width:14%;}
	#search_area{padding:5px;}
	#stock{
		width:100%;
		border-left:0;
		float:none;
		padding-right:30px;
	}
	#youtube{float:left; width:100%;
		padding:0 30px 20px 30px;
	}
	#youtube img{width:200%;}
	#contents ul li{height:150px;}
}
@media screen and (max-width:600px) {
    #header{
		width:100%;
		float:none;
		padding:0;
		margin-top:10px;
	}
	h1.logo{text-align:center; margin:0; padding:10px 0;}
	#nav{margin:0; border-top:1px solid #ffffff; overflow:hidden; background:#2693ff;}
	#nav li{float:left; width:33.3%; text-align:center; font-size:0.75em; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; background:none; transition:all 0.4s ease-in 0.3s; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
	#nav li:nth-child(3n){width:33.4%; border-right:none;}
	#nav a{display:block; width:100%; border-bottom:none; color:#ffffff; text-shadow:0 0 5px rgba(0,0,0,0.8);}
	#tellnum{display:none;}
	#flow span, #news span, #blog span{display:none;} 
	#flow{width:100%; clear:both; float:left; margin-top:10px;}
	#flow h3{height:23px; font-size:0.75em; font-weight:bold; float:left; padding-left:10px;}
	#flow .flow_list{clear:both; margin:0 10px;}
	#flow .flow_list li{float:left; padding:0 6px 6px 0; margin:0;}
	#flow .flow_list li:nth-child{padding-right:0;}
	#news{width:100%; clear:both; float:left;margin-top:20px;}
	#news h3, #blog h3{padding-left:10px;}
	#news ul{width:100%; clear:both;}
	#news ul li{border-bottom:1px solid #dddddd; padding-left:20px; line-height:25px; height:25px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
	#news li:nth-child(3){border-bottom:none; margin-bottom:20px;}
	#blog{display:none;}
	#main{border-left:0; margin:0; clear:both;}
	#product{padding:20px 10px 0 10px;}
	#product ul{width:100%; overflow:auto;}
	#product ul li{width:16.66%; padding:5px 0;}
	#product ul li:nth-child(6n){width:16.7%;}
	#product h2 a{display:none;}
	#contents{margin:0;}
	#contents ul li img{max-width:100%; height:auto;}
	#contents ul li:nth-child(3){padding-right:0;}
	#foot{margin:0;}
	#foot_logo{display:none;}
	#foot_area{text-align:center; width:100%; height:120px; border-left:none;}
	.foot_menu{display:block; margin:30px 0 0 0;}
	.foot_copy{font-size:10px; color:#999999; margin:10px 0 0 0; display:block;}
}
@media screen and (max-width:480px) {
    #wrap{min-width:300px;}
	#flow{margin-top:10px;}
	#flow h3{height:23px; font-size:0.75em; font-weight:bold; float:left; padding-left:10px;}
	#flow .flow_list{width:100%; margin:0;}
	#flow .flow_list li{margin:0; padding:0; width:8.333%;}
	#flow .flow_list img{width:100%;}
	#flow .flow_list li:nth-child(12){width:8.337%;}
	
	#product li{display:none;}
	#product li:nth-child(1){display:block; width:25%;}
	#product li:nth-child(2){display:block; width:25%;}
	#product li:nth-child(3){display:block; width:25%;}
	#product li:nth-child(4){display:block; width:25%;}
	#product{padding:20px 10px 10px 10px;}
	#product .now{margin:0;}
	#contents{height:100px; overflow:hidden;}
}















