*{margin:0; padding:0;}
#menu_bar{
	margin:20px 0 0 20px;
	width:110px;
}
#menu_bar ul{
	list-style:none; 
	margin:0; 
	padding:0;
}
#menu_bar a{
	display:block;
	text-decoration:none;
	color:#bbbbbb;
	font:20px Verdana;
	text-transform:uppercase;
	background:#222222;
	padding:10px 10px 10px 15px;
	margin-bottom:2px;
}
#menu_bar a:hover{
	border-left:5px solid #ff9900;
	padding-left:10px;
	color:#ffffff;
}