header{width:700px; background:#ff0000; float:left;}
section{width:700px; background:#00ff00; float:left;}
aside{width:100px; background:#b973ff; float:left;}
article{width:500px; background:#ffff73; float:left;}
footer{width:700px; background:#0000ff; float:lift; clear:both;}