header{width:700px; background:#ff4c4d; float:left;}
section{width:700px; background:#ffffbf; float:left;}
aside{width:100px; background:#ff73ff; float:left;}
article{width:500px; background:#dcff73; float:left;}
footer{width:700px; background:#a64cff; float:left; clear:both;}