body{text-align:center;}
h1{font-size:20pt; background:#663399; color:#ffffff; padding:10px;}
h2{font-size:9pt; background:#ff0000; color:#ffffff; padding:5px;}
a{background:#000000; color:#ffffff;}
