<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>뷰 4, v-model, 양방향 바인딩</title>
	<style type="text/css">
		#app{width:600px; text-align:center;}
		h1,h2,h3,h4{font-weight:500; letter-spacing:-0.5px;}
		input[type="text"]{width:160px; font-size:20px;}
	</style>
</head>
<body>
	<div id="app">
		<h1>Hello, {{ name }} !</h1>
		<input type="text" v-model="name" /> <!-- 받아들인 정보 이름이 name = name이라는 변수에 담기? -->
		<h3><input type="checkbox" v-model="isDay" /> 빛을 밝힐까요?</h3>
		<img :src="isDay ? day : night " alt="낮밤"/>
	</div>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script>
		var app=new Vue({
			el:'#app',
			data: {
				name:"World",
				isDay: false,
				day: 'img/day.png',
				night: 'img/night.png'
			}
		});
	</script>
</body>
</html>