@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
html{overflow-y:scroll;}
*{margin:0; padding:0;}
body{font-family: 'Noto Sans KR', sans-serif; color:#333333; letter-spacing:-0.2px;}
ul,li{margin:0; padding:0; list-style:none;}
a{text-decoration:none; color:#333333;}
img{border:0; vertical-align:top;}
button{border:0;}
form,fieldset{margin:0; padding:0; border:0;}
legend{font-size:0;}
input, select{font-size:13px;}
.cf:after{content:""; display:block; clear:both;}
.fl{float:left}

#wrap{width:100%; min-width:1040px; transition:all 0.4s;}

#header{background:#ffffff;}
.header_center{width:1000px; height:60px; margin:0 auto; padding:24px 0; transition:all 0.4s; position:relative;}
.header_center>*{position:absolute; top:23px;}
.logo_open{left:10px;}
.logo_alright{right:10px;}
.search{width:529px; top:26px; right:50%; margin-right:-264.5px; transition:all 0.4s;}
.search fieldset{position:relative; height:26px; padding:13px 0 13px 26px; border:4px solid #212121; border-radius:30px;}
.search select{width:60px; height:28px; margin-right:10px; border:0; color:#212121; font-size:16px; transition:all 0.4s;}
.search input{width:333px; height:26px; padding:1px 0 1px 10px; border:0; caret-color:#06b596; line-height:26px; vertical-align:top; font-size:16px; font-weight:500; letter-spacing:-1.5px; transition:all 0.4s;}
.search button{font-size:0; position:absolute; top:0; right:5px; width:77px; height:52px; background:url(../images/btn_search.png) no-repeat center; cursor:pointer;}

#gnb{height:44px; background:#4162a3; position:relative; z-index:100; transition:width,height,background 0.4s;}
#gnb>ul{width:1000px; margin:0 auto;}
#gnb>ul>li{width:50%; transition:background-position 0.3s;}
#gnb>ul>li>a{color:#ffffff; font-weight:500; letter-spacing:-1px; display:block; height:44px; padding:9px 15px 8px; box-sizing:border-box; background:url(../images/icon_menu.png) no-repeat; width:35%;}
#gnb>ul>li:hover>a{background-color:#ffffff; color:#333333; background-image:url(../images/icon_menu_on.png); }
#gnb>ul>li.open>a{padding-left:47px; background-position:15px 13px;}
#gnb>ul>li.alright{text-align:right;}
#gnb>ul>li.alright>a{padding-right:47px; background-position:92.5% 13px; float:right; width:45%;}

.gnb_box{position:absolute; top:44px; left:0; width:100%; overflow:hidden; height:0; background:#ffffff; border-bottom:2px solid #4162a3; border-width:0; word-break:keep-all; transition:all 0.2s;}
#gnb>ul>li:hover .gnb_box{height:336px; border-width:2px; z-index:101;}
.gnb_box:before{content:""; position:absolute; width:100%; height:1px; top:56px; left:0; background:#e5e5e5;}
.depth2{width:1000px; margin:0 auto;}
.depth2>li{float:left; width:16.6666%;}
.depth2>li>a{display:block; padding:15px 0 12px; font-size:1.1em; color:#231f20; text-align:center; border-bottom:3px solid #ffffff; letter-spacing:-1.2px; font-weight:500;}
.depth2>li>a:hover{border-bottom:3px solid #4162a3;}
.depth2 ul{height:190px; padding-top:20px; border-left:1px solid #e5e5e5;}
.depth2 .la ul{border-right:1px solid #e5e5e5;}
.depth2 ul li a{display:block; padding:8px 19px; font-size:0.92em; color:#666666;}
.depth2 ul .fir a{padding-top:0;}
.depth2 ul li:hover a:before{width:3px; height:15px; background-color:#4162a3; content:""; display:inline-block; margin:0 16px 0 -19px;}

.membership{width:1000px; margin:10px auto;}
.membership li{float:left; width:16.6666%; padding:0 4px; box-sizing:border-box;}
.membership li.fir{margin-left:50%; letter-spacing:-0.7px;}
.membership a{display:block; height:50px; line-height:50px; border:1px solid #e5e5e5; font-size:0.9em; padding-left:45px; color:#4466a7; font-weight:bold;}
.userlogin{background:url(../images/icon_loginUser.png) no-repeat 15px center;}
.login{background:url(../images/icon_login.png) no-repeat 15px center;}
.join{background:url(../images/icon_join.png) no-repeat 20px center;}
.join a{padding-left:55px;}

.alright .depth2>li{width:25%; text-align:left;}
.alright .depth2 ul{height:260px;}


#container{position:relative; width:100%; overflow:auto;}
#content{overflow:auto;}
.main_visual{position:absolute; width:100%; height:780px; transition:all 0.4s; background:#000000; overflow:hidden;}
.main_text{position:absolute; top:100px; left:50%; margin-left:-348px; transition:all 0.4s;}
.main_text img{transition:all 0.4s;}
.main_slide{width:100%; height:100%; opacity:0.75; background:no-repeat center; background-size:cover; position:relative;}
#Mslide{width:100%; height:100%;}
.main_slide li{width:100%; height:100%; background:no-repeat center; background-size:cover; position:absolute; left:0; top:0;}
.main_slide li.visual01{background-image:url(../images/visual01.jpg);}
.main_slide li.visual02{background-image:url(../images/visual02.jpg);}
.main_slide li.visual03{background-image:url(../images/visual03.jpg);}
.main_slide li.visual04{background-image:url(../images/visual04.jpg);}

.main_visual .ctrl{position:absolute; height:24px; right:50%; bottom:380px; margin-right: -495px; transition:all 0.4s; z-index:90;}
.main_visual .ctrl button{float:left; display:block; width:24px; height:24px; margin:0 6px;}
.main_visual .ctrl .prev{background:url(../images/visual_prev.png) no-repeat center;}
.main_visual .ctrl .play{background:url(../images/visual_play.png) no-repeat center;}
.main_visual .ctrl .next{background:url(../images/visual_next.png) no-repeat center;}

.section1{width:980px; padding-bottom:15px; transition:all 0.4s; position:relative; margin:410px auto 0;}
.section1>*{float:left; transition:all 0.4s;}

.banner_info{position:absolute; width:530px; top:0; left:50%; margin-left:-270px; padding:5px; background-color:#ffffff;}
.tab_list{border-bottom:0; height:200px;}
.tab_list li{width:100px; height:66.66px;}
.tab_list li a{display:block; text-align:center; font-size:0.95em; font-weight:500; color:#ffffff; letter-spacing:-0.2px;background-color:#4162a3; height:100%; line-height:70px;}
.tab_list li.active a{color:#2b2b2b; background:#ffffff;}

.info-img{width:430px; height:200px; padding:30px 30px 0 230px; background:no-repeat 8% center #ffffff; font-size:15px; font-weight:200; line-height:24px; position:absolute; top:5px; left:100px; word-break:keep-all; text-align:center; background-size:contain; box-sizing:border-box; display:none; transition:all 0.4s;}
.info-img.active{display:block;}
#tabs-1{background-image:url(../images/tab_banner_img1.jpg);}
#tabs-2{background-image:url(../images/tab_banner_img2.jpg);}
#tabs-3{background-image:url(../images/tab_banner_img3.jpg);}

.slide{width:210px; height:210px; background-size:cover; background:center; position:relative; transition:all 0.4s; white-space:nowrap; overflow:hidden;}
.slide img{width:100%; height:auto; transition:width 0.2s;}
.slideR{float:right;}
.slide ul li{position:absolute; left:0; top:0; width:100%; height:100%;}

.slide .ctrl{z-index:1; position:absolute; top:9px; right:10px; font-size:0;}
.slide .ctrl button{float:left; display:block; width:18px; height:18px; border:1px solid #dddddd; background:#ffffff no-repeat center; cursor:pointer;}

.slide .ctrl .prev{background-image:url(../images/banner_prev.gif);}
.slide .ctrl .play{background-image:url(../images/banner_play.gif);}
.slide .ctrl .next{background-image:url(../images/banner_next.gif);}

.section1>ul{padding:0; list-style:none; height:120px; margin:10px 0 9px 0;}
.section1>ul>li{float:left; width:120px; box-sizing:border-box; transition:all 0.3s;}
.section1>ul>li>a{display:block;  height:93px; padding-top:23px; color:#1d7ead; font-weight:bold; text-align:center; line-height:1.25; font-size:15px; background-color:#ffffff; background-color:rgba(255,255,255,0.85); transition:all 0.2s;}

.banner_open{clear:both;}
ul.banner_open>li>a:hover{background-color:#1d7ead; color:#ffffff;}

.mainbn a:before{content:""; display:block; width:40px; height:40px; margin:0 auto 15px; background:no-repeat center; background-size:cover;}
.banner_open li:nth-child(1) a:before{background-image:url(../images/banner_icon_intro.png);}
.banner_open li:nth-child(1):hover a:before{background-image:url(../images/banner_icon_intro_on.png);}
.banner_open li:nth-child(2) a:before{background-image:url(../images/banner_icon_open.png);}
.banner_open li:nth-child(2):hover a:before{background-image:url(../images/banner_icon_open_on.png);}
.banner_open li:nth-child(3) a:before{background-image:url(../images/banner_icon_recommend.png);}
.banner_open li:nth-child(3):hover a:before{background-image:url(../images/banner_icon_recommend_on.png);}
.banner_open li:nth-child(4) a:before{margin-bottom:5px; background-image:url(../images/banner_icon_curation.png);}
.banner_open li:nth-child(4):hover a:before{background-image:url(../images/banner_icon_curation_on.png);}
.banner_alright li:nth-child(1) a:before{margin-bottom:5px; background-image:url(../images/banner_icon_alrightIntro.png);}
.banner_alright li:nth-child(1):hover a:before{background-image:url(../images/banner_icon_alrightIntro_on.png);}
.banner_alright li:nth-child(2) a:before{margin-bottom:5px; background-image:url(../images/banner_icon_joinInfo.png);}
.banner_alright li:nth-child(2):hover a:before{background-image:url(../images/banner_icon_joinInfo_on.png);}
.banner_alright li:nth-child(3) a:before{margin-bottom:5px; background-image:url(../images/banner_icon_useProcess.png);}
.banner_alright li:nth-child(3):hover a:before{background-image:url(../images/banner_icon_useProcess_on.png);}
.banner_alright li:nth-child(4) a:before{background-image:url(../images/banner_icon_alright.png);}
.banner_alright li:nth-child(4):hover a:before{background-image:url(../images/banner_icon_alright_on.png);}

.banner_alright{float:right;}
ul.banner_alright li a{color:#444fa7;}
ul.banner_alright>li>a:hover{background-color:#444fa7; color:#ffffff;}



.section2{background-color:#dfe8f3; height:600px; text-align:center;}
.sec2_inner{width:980px; margin:0 auto; padding:30px 0 45px; position:relative;}
.section2 h3{padding:12px 27px 18px; margin-bottom:10px; font-size:33px; font-weight:600; line-height:140%; color:#2e4470; transition:all 0.4s;}
.section2 h3 span{display:block; margin-top:5px; font-size:16px; line-height:140%; font-weight:500;}
.curation{background:#ffffff; border:1px solid #e5e5e5; border-bottom:0; width:981px;}
.section2 ul{transition:all 0.4s; position:relative; width:875px;}
.section2 li>a{display:block; width:175px; height:64px; line-height:64px; box-sizing:border-box; padding-left:16px; background:no-repeat 20% 55% #ffffff; background-size:29px; border-right:1px solid #e5e5e5; color:#2e4470; font-weight:500; font-size:20px; text-align:center; transition:width,height,border 0.4s;}
.section2 li.fir>a{border-left:1px solid #e5e5e5;}
.section2 li.active>a{background-color:#4466a7; color:#ffffff;}

.section2 .recommend{background-image:url(../images/curation_icon_recommend.png);}
.active .recommend{background-image:url(../images/curation_icon_recommend_on.png);}
.section2 .literary{background-image:url(../images/curation_icon_literary.png);}
.active  .literary{background-image:url(../images/curation_icon_literary_on.png);}
.section2 .photo{background-image:url(../images/curation_icon_photo.png);}
.active  .photo{background-image:url(../images/curation_icon_photo_on.png);}
.section2 .video{background-image:url(../images/curation_icon_video.png);}
.active  .video{background-image:url(../images/curation_icon_video_on.png);}
.section2 .font{background-image:url(../images/curation_icon_font.png);}
.active  .font{background-image:url(../images/curation_icon_font_on.png);}



.photolist{position:absolute; top:64px; left:-1px;  width:981px; background:#ffffff; border:1px solid #e5e5e5; display:none;}
.photolist.active{display:block;}
.photolist>div{float:left; padding:8px; display:inline-block;}
.photolist>div:hover a{border-color:#4466a7;}
.photolist>div>a{display:block; width:213px; background:#ffffff; padding:6px; border:2px solid #ffffff; overflow:hidden; transition:width,height 0.4s;}
.photolist>div>a .s2_img{display:block; height:213px; overflow:hidden; transition:all 0.4s;}
.photolist>div>a img{width:213px; transition:all 0.4s;}
.photolist>div>a .text{display:table; line-height:22px; width:100%; height:80px; margin-top:6px; padding:0 15px; box-sizing:border-box; word-break:keep-all; transition:all 0.4s;}
.photolist>div>a .text em{display:table-cell; font-style:normal; vertical-align:middle; text-align:center; color:#222222; overflow:hidden;}

.section2 .ctrl{ position:absolute; top:-44px; right:4px; padding:0; transition:all 0.4s;}
.section2 .ctrl button{display:block; width:24px; height:24px; float:left; margin:0 4px;}
.section2 .ctrl .prev{background:url(../images/curation_prev.png) no-repeat center;}
.section2 .ctrl .play{background:url(../images/curation_play.png) no-repeat center;}
.section2 .ctrl .next{background:url(../images/curation_next.png) no-repeat center;}


.section3{position:relative; width:980px; margin:0 auto 80px; text-align:center; height:266px; transition:all 0.4s;}

.section3 h3{margin:40px 0; font-weight:600; font-size:33px; line-height:140%;  color:#2e4470; transition:all 0.4s;}
.section3 span{display:block; margin-top:5px; font-size:16px; line-height:140%; font-weight:500;}
.sns_box{position:absolute; top:7px; right:0; transition:all 0.4s;}
.sns_box a{margin-left:7px;}
.section3 ul{height:153px; overflow:hidden; transition:all 0.4s;}
.section3 ul li{float:left; padding-left:12px; transition:all 0.4s;}
.section3 ul li.fir{padding-left:0; transition:all 0.4s;}
.section3 ul img{width:153px; transition:all 0.4s;}
.section3 ul *{transition:all 0.4s;}



#link{width:100%; height:53px; background-color:#696969; letter-spacing: -1px;}
.link_inner{width:1000px; margin:0 auto;transition:all 0.4s;}
.info{float:left; overflow:hidden; transition:all 0.4s;}
.info li{float:left; margin-left:20px; line-height:53px;}
.info li.fir{margin-left:0;}
.info li a{color:#eaeaea; font-size:14px; font-weight:200; transition:font-size 0.4s;}
.info .privacy a{color:#d1eae3; font-weight:500;}
.site_link{float:right; vertical-align:top; width:420px; transition:all 0.4s;}
.site_link ul{margin-top:8px;}
.site_link>ul>li{float:left; cursor:pointer;}
.site_link li.fir{margin-right:17px;}
.site_link li>div{position:relative; width:199px; border:1px solid #888; z-index:1;}
.site_link li>div>a{display:block; overflow:hidden; width:185px; height:34px; padding-left:15px; color:#e5e5e5; font-weight:200; font-size:13px; line-height:34px; background:url(../images/btn_link.gif) 178px 15px no-repeat;}
.site_link li>div ul{position:absolute; bottom:35px; left:-1px; padding-top:10px; border:1px solid #dddddd; border-bottom:none; z-index:2;box-sizing:border-box; background:#ffffff; font-size:13px;  overflow:hidden; height:216px;  border-width:0; height:0; padding-top:0; transition:height 0.4s;}
.site_link li>.relation ul{height:152px; height:0;}
.site_link li>div ul a{display:block; width:198px; padding:7px 0 7px 15px; box-sizing:border-box; color:#909090;}


#footer{background-color:#5d5d5d; transition:all 0.4s;}
.foot_inner{position:relative; width:1000px; margin:0 auto; padding:28px 0 30px; text-align:center;}
.foot_inner ul,.foot_inner li{display:inline-block; transition:all 0.4s;}
.foot_inner ul.fir{position:absolute; top:69px; left:0;}
.foot_inner ul.fir li a{display:block; margin-left:10px;}
.foot_inner .fir .fir a{margin-left:0;}
.address{position:static; width:733px;}
.address .fir a{margin-right:20px;}
.address .la{display:block; padding-top:20px;}
.address .la p{font-size:13px; font-weight:200; color:#c7c7c7; line-height:20px;}
.foot_inner ul.la{position:absolute; top:62px; right:0;}
.foot_inner .la .wa{margin-right:13px;}









