*{margin:0;padding:0;}
body{background:url(../images2/grid_back_02.gif);}
.fl{float:left;}
#wrap{width:770px;height:560px;}
#menu{background:#ffffff;width:140px;height:210px;}
#title{width:210px;height:140px;}
.box1_3{width:70px;height:210px;}
.box1_1{width:70px;height:70px;}
.box3_3{width:210px;height:210px;}
.box3_1{width:210px;height:70px;}
.color1{background:#ffff99;}
.color2{background:#ffcc00;}
.color3{background:#ff9900;}
li{line-height:0;}