.header{
	width:700px;
	height:400px;
	background:#dd66ff;
	position:relative;
	margin:100px auto;
}
#box1{
	width:100px;
	height:50px;
	background:#ff0000;
	position:absolute;
	top:-50px;
	left:0;
}
#box2{
	width:100px;
	height:100px;
	background:#0000ff;
	position:absolute;
	top:0;
	left:0;
}
#box3{
	width:100px;
	height:100px;
	background:#00ff00;
	position:absolute;
	top:100px;
	left:0;
}